.DS_Store
**/.DS_Store
/backend/wp-content/plugins/*
/backend/wp-content/mu-plugins/*
/backend/wp-content/themes/*
/backend/wp-content/uploads/
/backend/wp-content/uploads/sites/
/backend/wp-content/uploads/2018/
/backend/wp-content/uploads/2019/
/backend/wp-content/themes/
/backend/wp-content/cache/
/vendor/
/backend/vendor/
/config/traefik/certs/acme.json
_notgit/
node_modules/
/backend/wp-includes/*/composer.lock
/data
.env
*/.env
